body {
  font-family: 'Montserrat', sans-serif;
}

header {
  height: 100vh;
  background: linear-gradient(rgba(0,0, 0, .4), rgba(0,0,0,.5)) ,
  url(images/header-img.jpeg) no-repeat center center /cover;
}

.nav-menu {
  background: linear-gradient(rgba(0,0, 0, .3), rgba(0,0,0,.5));
  padding: 30px;
  transition: all .7s;
}

.menu-item {
  font-size: 13px;
  letter-spacing: 1px;
  color: #eee;
  transition: color .5s;
}

.menu-item:hover {
  color: #70aed2;
}

.nav-active {
  color: #70aed2;
}

.line1, .line2, .line3 {
  width: 23px;
  height: 3px;
  margin: 5px;
  transition: all .4s;
}

.change .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.change .line2 {
  opacity: 0;
}

.change .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

.custom-navbar {
  padding: 5px 30px;
  background: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.7));
}

.banner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
}

.banner-heading {
  animation-name: anim ;
  animation-duration: 1.2s;
}

.banner-par  {
  animation-name: anim ;
  animation-duration: .8s;
  animation-delay: .5s;
  animation-fill-mode: backwards;
}

@-webkit-keyframes anim {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}



.mission {
  background: #151f20;
}

.underline {
  width: 150px;
  border: 3px solid #eee;
  margin: auto;
}

.fromLeft {
  animation-name: fromLeft;
  animation-duration: 3s;
}

.fromRight {
  animation-name: fromRight;
  animation-duration: 3s;
}

@-webkit-keyframes fromLeft {
  0% {
    transform: translateX(-60px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes fromRight {
  0% {
    transform: translateX(30px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}



.card-shadow {
  box-shadow: 5px 8px 20px #444;
}

.heading {
  position: absolute;
  top: 70%;
  right: 0;
  font-size: 14px;
  letter-spacing: 1px;
  background: #222;
  width: 70%;
  cursor: pointer;
  opacity: .7;
  transition: all .5s;
}

.heading:hover {
  opacity: 1;
}






.underline-dark {
  width: 150px;
  border: 3px solid #888;
  margin: auto;
}

.gallery-list-item {
  color: #777;
  cursor: pointer;
  user-select: none;
}

.active-item {
  color: #70aed2;
}



/* customers */
.customers {
  background-color: #151f20;
}
/* customers */


/* pricing */
.card-1,
.card-2,
.card-3 {
  background: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0, .5)), url(images/pricing-card-bg.jpeg) center no-repeat;
  box-shadow: 7px 18px 50px #555;
  background-size: cover;
  max-width: 400px;
}

.card-list-item {
  border-bottom: 1px groove #eee;
  width: 55%;
  margin: auto;
}

.price-card-button {
  background: #f5593d;
  width: 130px;
  border-radius: 25px;
  box-shadow: 5px 8px 18px #000;
  transition: all .2s;
}

.price-card-button:hover {
  background: #f5593d;
  transform: translateY(-2px);
}

.moveFromLeft {
  animation-name: moveFromLeft;
  animation-duration: 1.5s;
}

.moveFromRight {
  animation-name: moveFromRight;
  animation-duration: 1.5s;
}

.moveFromBottom {
  animation-name: moveFromBottom;
  animation-duration: 1.5s;
}



@-webkit-keyframes moveFromLeft {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes moveFromRight {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes moveFromBottom {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.center-div-e {
  text-align: center;
}

















